@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	user-select: none;
	background: #ade4e9;
	font-family: "Reggae One", sans-serif;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.resetBtn {
	min-width: 190px;
	position: relative;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 20px;
	border: 2px solid #477ca7;
	transition: all 0.3s;
	background: transparent;
	color: #477ca7;
	display: none;
	line-height: 1;
}
.resetBtn.show {
	display: inline-block;
}
.resetBtn:hover {
	background: #477ca7;
	color: #fff;
	cursor: pointer;
}
.score {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	border: 2px solid #477ca7;
	padding: 5px 20px 5px 10px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 0;
	border-left: 0;
}
.score::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border-left: 2px solid #477ca7;
	transform: rotate(45deg);
	display: inline-block;
	background: #ade4e9;
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%) rotate(45deg);
}

.board {
	font-family: "Orbitron", sans-serif;
	height: 300px;
	overflow: hidden;
	margin: 50px auto 30px auto;
	position: relative;
	width: 300px;
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 450px) {
	.board {
		height: 450px;
		width: 450px;
	}
}
.board .box {
	background-color: #477ca7;
	transition: background-color 0.3s;
	border-radius: 14px;
	cursor: pointer;
	color: #fff;
	height: 90px;
	margin: 5px;
	width: 90px;
	display: inline-flex;
	font-size: 50px;
	justify-content: center;
	align-items: center;
}
.board .box.filledX {
	background-color: rgb(218, 69, 49);
}
.board .box.filledO {
	background-color: #34681cb0;
}
@media (min-width: 450px) {
	.board .box {
		height: 140px;
		width: 140px;
		font-size: 100px;
	}
}
.board .box:hover {
	background-color: #3d4250;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	width: 90%;
	background: white;
	border: 1px solid #ccc;
	transition: 0.3s ease-out;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	z-index: 101;
}
.modal.show {
	opacity: 1;
	visibility: visible;
}
.modal h2 {
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	margin: 0;
}
.modal .content {
	padding: 1rem;
}
.modal .actions {
	border-top: 1px solid #ccc;
	padding: 0.5rem 1rem;
	text-align: right;
}
.modal .actions button {
	border: 0;
	background: #477ca7;
	color: #fff;
	border-radius: 5px;
	padding: 10px 40px;
	font-size: 0.8rem;
	line-height: 1;
	cursor: pointer;
}
